<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621231561721-i03j7q5n261qtpcshh8er61dmf1rg810.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621231561721-i03j7q5n261qtpcshh8er61dmf1rg810</string>
	<key>API_KEY</key>
	<string>AIzaSyAhsrlLO1oE4IeKPF0L50MPxZ17j3YD9HY</string>
	<key>GCM_SENDER_ID</key>
	<string>621231561721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>weatherapp</string>
	<key>PROJECT_ID</key>
	<string>auth-1903a</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-1903a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621231561721:ios:3e79b4d0a0f3957cdb7b28</string>
</dict>
</plist>